<!-- we can add some bg-img and color here -->
<div>
    <p>Hi <%= comment.user.name %>!</p>
    <br><br>
    <p>Your Comment 
        <strong><%= comment.content %></strong>
        just got published on codeial
    </p>
    <br><br>
    <p>Thank You!</p>
</div>
